[user]
	email = jomarm@jomarm.com
	name = Jomar Milan
	signingkey = F954C5C95AE7A312183DA76C6AC46A6F9A5618D8
[commit]
	gpgsign = true
[tag]
	forcesignannotated = true
[init]
	defaultbranch = master
[diff "json"]
	textconv = jq .
[sendemail]
	smtpserver = smtp.emailarray.com
	smtpuser = jomarm@jomarm.com
	smtpencryption = ssl
	smtpserverport = 465
[core]
	editor = nvim
